/*то же что и section*/
.section-price {
  background: rgb(248, 248, 248);
  min-height: 100vh;
}

.section-price h2 {
  border-top: 1px solid rgb(217, 255, 245);
  color: rgb(126, 126, 130);
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-top: 16px;
  padding-left: 32px;
  padding-bottom: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgb(248, 248, 248) 98.614%
  );
}

table {
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  margin: 16px auto;
  border-spacing: 0;
}

th {
  padding: 16px 0;
  background: rgb(248, 248, 248);
  color: rgb(126, 126, 130);
  font-weight: normal;
  text-align: left;
}

td {
  padding: 23px 0;
  color: rgb(27, 28, 33);
  position: relative;
}

/*нижняя псевдорамка*/
td:first-child:not(.not-border):before {
  content: '';
  width: 984px;
  height: 1px;
  background-color: rgb(234, 234, 234);
  position: absolute;
  top: 78px;
}

/*размер первого столбца*/
th:first-child {
  min-width: 470px;
  max-width: 470px;
}

/*размер второго столбца*/
th:nth-child(2) {
  min-width: 227px;
  max-width: 227px;
}

/*размер третьего столбца*/
th:nth-child(3) {
  min-width: 192px;
  max-width: 192px;
}

/*размер четвертого столбца*/
th:last-child {
  min-width: 119px;
  max-width: 119px;
}

tbody {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}

/*фон таблицы*/
tbody::before {
  content: '';
  width: 1032px;
  height: 390px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}

.button__order {
  width: 119px;
  height: 32px;
  background-color: #ff3e79;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 17px;
}

.button__order span {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: 'TT Lakes Bold';
  padding-left: 12px;
}

caption {
  caption-side: bottom;
  text-align: left;
  margin-top: 32px;
}

table caption p {
  max-width: 420px;
  min-width: 420px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.button-sentence {
  display: flex;
  align-items: center;
  gap: 9px;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  margin-left: 32px;
  margin-top: 16px;
  margin-bottom: 50px;
}

.footer-section-price {
  display: flex;
  color: #7e7e82;
  padding: 0 31px 21px;
  font-size: 14px;
  border-top: 1px solid rgb(217, 255, 245);
  justify-content: space-between;
  font-family: 'TT Lakes Regular';
}

/*весь текст в футере*/
.footer-section-price > p,
.footer-section-price > div {
  padding-top: 33px;
}

/*размер последнего текста в футере*/
.footer-section-price > p:last-child {
  max-width: 330px;
  min-width: 330px;
  text-align: right;
}

/*отступ текста первого столбца*/
th:first-child,
td:first-child {
  padding-left: 24px;
}

/*отступ текста последнего столбца*/
th:last-child,
td:last-child {
  padding-right: 24px;
}

.swiper {
  display: none;
}

.section__text-price {
  display: none;
}

@media (max-width: 1120px) {
  /*размер первого столбца*/
  th:first-child {
    min-width: 386px;
    max-width: 386px;
  }

  /*размер второго столбца*/
  th:nth-child(2) {
    min-width: 96px;
    max-width: 96px;
  }

  /*размер третьего столбца*/
  th:nth-child(3) {
    min-width: 101px;
    max-width: 101px;
  }

  /*размер четвертого столбца*/
  th:last-child {
    min-width: 119px;
    max-width: 119px;
  }

  /*нижняя псевдорамка*/
  td:first-child:not(.not-border):before {
    width: 678px;
  }

  /*псевдофон таблицы*/
  tbody::before {
    width: 726px;
    height: 390px;
  }

  .footer-section-price {
    padding-left: 24px;
    padding-right: 24px;
  }

  /*размер последнего текста в футере*/
  .footer-section-price > p:last-child {
    max-width: 213px;
    min-width: 213px;
  }
}

@media (max-width: 768px) {
  table {
    display: none;
  }

  .swiper {
    display: block;
  }

  .section__text-price {
    display: block;
  }

  .swiper-slide__price {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 18px;
    width: 243px !important;
    height: 184px;
    margin-top: 32px;
    margin-left: 24px;
    display: inline-block;
  }

  .swiper-slide__before {
    position: relative;
  }

  .swiper-slide__before::before {
    content: '';
    background-color: #ffffff;
    width: 240px;
    height: 200px;
    position: absolute;
    z-index: -1;
    top: -16px;
    left: -16px;
    border-radius: 6px;
  }

  .swiper-slide__price h5,
  .swiper-slide__begriff div {
    color: rgb(126, 126, 130);
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    padding-bottom: 4px;
  }

  .swiper-slide__price h5:not(:first-child),
  .swiper-slide__begriff {
    padding-top: 16px;
  }

  .swiper-slide__begriff {
    display: flex;
  }

  .button__order {
    margin-top: 10px;
    margin-left: 28px;
  }

  .swiper-pagination--price {
    position: static;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .swiper-pagination-bullets {
    text-align: center;
  }

  .swiper-pagination-bullet {
    background-color: rgb(181, 182, 188);
    width: 12px;
    height: 12px;
  }

  .section__text-price {
    caption-side: bottom;
    text-align: left;
    margin-top: 16px;
    margin-left: 16px;
    width: 288px;
    font-family: 'TT Lakes Regular';

    color: rgb(27, 28, 33);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .button-sentence {
    display: inline;
    width: 192px;
    text-align: left;
    margin-left: 16px;
  }

  .button-sentence span {
    margin-right: 9px;
  }

  .footer-section-price {
    display: grid;
    justify-items: center;
  }

  .footer-section-price > p,
  .footer-section-price > div {
    padding-top: 16px;
  }

  .footer-section-price > p:last-child {
    max-width: 768px;
    text-align: center;
  }

  .footer-section-price div {
    text-align: center;
  }

  .footer-section-price {
    justify-content: center;
  }
}
